<p id="notice"><%= notice %></p>

<%= link_to 'Today', byday_assignments_path(:inpdate => Time.now.day), class: "badge badge-info" %>
<%= link_to 'Yesterday', byday_assignments_path(:inpdate => Time.now.day-1), class: "badge badge-info" %>
<%= link_to 'This Month', bymonth_assignments_path(:inpmonth => Time.now.month), class: "badge badge-info" %>
<%= link_to 'Last Month', bymonth_assignments_path(:inpmonth => Time.now.month-1), class: "badge badge-info" %>

<h1>Assignments</h1>
<%= link_to 'New Assignment', new_assignment_path, class: "btn btn-primary btn-sm" %>
<%= link_to 'Back Home', root_path, class: "btn btn-secondary btn-sm" %>
<table class="table table-sm">
  <thead>
    <tr>
      <th><%= sortable "Bank", "tasks.bank_id" %></th>
      <th><%= sortable "Task date", "task_date" %></th>
      <th><%= sortable "User", "user_id" %></th>
      <th><%= sortable "Project", "tasks.project" %></th>
      <th><%= sortable "Task", "task_id" %></th>
      <th><%= sortable "Activity","activity_id" %></th>
      <th>Hours</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.task_bank.name %></td>
        <td><%= assignment.task_date %></td>
        <td><%= assignment.user_username %></td>
        <td><%= assignment.task_project %></td>
        <td><%= assignment.task_task_name %></td>
        <td><%= assignment.activity_name %></td>
        <td><%= number_with_precision(assignment.hours, :precision => 2) || 0 %></td>
        <td><%= assignment.notes %></td>
        <td><%= link_to 'Show', assignment %></td>
        <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
        <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
