<p id="notice"><%= notice %></p>

<%= link_to 'Today', today_assignments_path %>
<%= link_to 'Yesterday', yesterday_assignments_path %>
<%= link_to 'This Month', thismonth_assignments_path %>
<%= link_to 'Last Month', lastmonth_assignments_path %>

<h1>Assignments</h1>

<table>
  <thead>
    <tr>
      <th>Bank</th>
      <th>Task date</th>
      <th>User</th>
      <th>Project</th>
      <th>Task</th>
      <th>Activity</th>
      <th>Hours</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>

      <tr>
        <td><%= assignment.task_bank.name %></td>
        <td><%= assignment.task_date %></td>
        <td><%= assignment.user_username %></td>
        <td><%= assignment.task_project %></td>
        <td><%= assignment.task_task_name %></td>
        <td><%= assignment.activity_name %></td>
        <td><%= number_with_precision(assignment.hours, :precision => 2) || 0 %></td>
        <td><%= assignment.notes %></td>
        <td><%= link_to 'Show', assignment %></td>
        <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
        <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assignment', new_assignment_path %>
<%= link_to 'Back Home', root_path %>
