<p id="notice"><%= notice %></p>

<p>
  <strong>Task date:</strong>
  <%= @assignment.task_date %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @assignment.hours %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @assignment.notes %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
