<p id="notice"><%= notice %></p>

<p>
  <strong>Leavedate:</strong>
  <%= @leave.leavedate %>
</p>

<p>
  <strong>User:</strong>
  <%= @leave.user_username %>
</p>

<%= link_to 'Edit', edit_leave_path(@leave) %> |
<%= link_to 'Back', leaves_path %>
