<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :contact_name, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, id: :contact_email, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.collection_select(:role_id, Role.all, :id, :title, {}, {:class=>'form-control'}) %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-success btn-sm" %>
  </div>
<% end %>
