<p id="notice"><%= notice %></p>

<h1>Bankcontacts</h1>

<%= link_to 'New Bankcontact', new_bankcontact_path, class: "btn btn-primary" %>
<%= link_to 'Back Home', root_path, class: "btn btn-secondary" %>

<table class="table table-sm">
  <thead>
    <tr>
      <th>Bank</th>
      <th>Contact</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bankcontacts.each do |bankcontact| %>
      <tr>
        <td><%= bankcontact.bank_name %></td>
        <td><%= bankcontact.contact_name %></td>
        <td><%= bankcontact.contact_role.title %></td>
        <td><%= link_to 'Show', bankcontact %></td>
        <td><%= link_to 'Edit', edit_bankcontact_path(bankcontact) %></td>
        <td><%= link_to 'Destroy', bankcontact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
